[
  {
    "openSelectedFiles" : true,
    "keyCode" : 49,
    "order" : 0,
    "url" : "\/Clipboard.clipboard",
    "openSelectedFolders" : true,
    "enabled" : false,
    "modifierFlags" : 1179648,
    "hideIfActive" : false
  },
  {
    "openSelectedFolders" : true,
    "order" : 1,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAFiKyp1k2VSYinbxcj3h7WrRuM3IsOulmA+jAs53UoMUTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADXvAYAAAAAAAgAAAAEAwAAWXUpAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw94T\/gAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADUzNTAzQkI5LTlDQTMtNDJCNC1BMDg4LTQwNjRDRjI0MzRCMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 1,
    "enabled" : true,
    "modifierFlags" : 1966379,
    "hideIfActive" : false,
    "url" : "\/Applications\/Spotify.app",
    "openSelectedFiles" : true
  },
  {
    "keyCode" : 37,
    "modifierFlags" : 1966379,
    "openSelectedFiles" : true,
    "order" : 2,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAKZj4qBxHkdBaPktn4QHUIZ5FqHxulUofzEvQJT5FS3JTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADXvAYAAAAAAAgAAAAEAwAAbpYEAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw6zwJoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADUzNTAzQkI5LTlDQTMtNDJCNC1BMDg4LTQwNjRDRjI0MzRCMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Slack.app",
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "enabled" : true
  },
  {
    "keyCode" : 40,
    "hideIfActive" : false,
    "url" : "\/Applications\/kitty.app",
    "order" : 3,
    "openSelectedFolders" : true,
    "enabled" : true,
    "modifierFlags" : 1966379,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAOaN+R\/C5lEbwJmu\/BOfknCOzp7pXW\/1Uy4VCH8waa21TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABraXR0eS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADXvAYAAAAAAAgAAAAEAwAAz8o3AAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw+Y31gAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADUzNTAzQkI5LTlDQTMtNDJCNC1BMDg4LTQwNjRDRjI0MzRCMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "openSelectedFolders" : true,
    "enabled" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAIhYm1C1+kmAfTvDZ5yzCep5pzCMTA57grNeW3hP0xUnTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABOb3Rpb24uYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADXvAYAAAAAAAgAAAAEAwAAHGoEAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw94G\/QAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADUzNTAzQkI5LTlDQTMtNDJCNC1BMDg4LTQwNjRDRjI0MzRCMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false,
    "order" : 4,
    "keyCode" : 45,
    "url" : "\/Applications\/Notion.app",
    "openSelectedFiles" : true,
    "modifierFlags" : 1966379
  },
  {
    "url" : "\/System\/Applications\/Messages.app",
    "order" : 5,
    "modifierFlags" : 1966379,
    "enabled" : true,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAACJxSdXNyjWuWaG3acOCo\/tLb395EBtyqU7ojMcqo5OQZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAy4oAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcPYOcGAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAADUzNTAzQkI5LTlDQTMtNDJCNC1BMDg4LTQwNjRDRjI0MzRCMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 46,
    "openSelectedFiles" : true,
    "hideIfActive" : false
  },
  {
    "openSelectedFolders" : true,
    "modifierFlags" : 1966379,
    "keyCode" : 11,
    "openSelectedFiles" : true,
    "enabled" : true,
    "hideIfActive" : false,
    "url" : "\/Applications\/Brave Browser.app",
    "order" : 6,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAN1Od+7Fo1tBPfO46YUVe2U8TIPYuUOHZ+a7Q2B5mn7+VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABCcmF2ZSBCcm93c2VyLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAF6qKQEAAAAACAAAAAQDAABG9e4BAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEHRIPAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBw\/d7NIAAACQAAAABAQAANTM1MDNCQjktOUNBMy00MkI0LUEwODgtNDA2NENGMjQzNEIzGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA"
  },
  {
    "modifierFlags" : 1966379,
    "order" : 7,
    "openSelectedFolders" : true,
    "keyCode" : 31,
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAADN4Uoh2bjdusV+zBArrDq9lbdDn4uk7Oo2TLVDtVyXwTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABPdmVyY2FzdC5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADGoxcCAAAAAAgAAAAEAwAAXQARAgAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxCU6HmkdvRgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEAADUzNTAzQkI5LTlDQTMtNDJCNC1BMDg4LTQwNjRDRjI0MzRCMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Overcast.app",
    "enabled" : true
  }
]